<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Register</title>
</head>

<body>



  <section class="bg-white dark:bg-white scroll-pt-1">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 ">

      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-xl xl:p-0 dark:bg-gray-800 dark:border-gray-700  ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 ">
          <a href="#"
            class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-black content-center">
            <img class="w-8 h-8 mr-2"
              src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" alt="logo">
            ---
          </a>
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-black ">
            Create and account
          </h1>
          <form class="space-y-4 md:space-y-6 grid grid-cols-2 gap-2" action="#" onSubmit="return checkPassword(this) ">



<!--
            <div>
              <label for="image" class="block text-sm font-medium leading-6 text-gray-900">Image :</label>
              <div class="mt-4">
                <input type="file" id="image" name="image" accept="image/*" (change)="onImageSelected($event)">
              </div>
            </div>

-->

            <div>
              <label for="firstname" class="block text-sm font-medium leading-6 text-gray-900">First name :</label>
              <div class="mt-2">
                <input id="firstname" name="firstname" type="text" [(ngModel)]="firstname"
                  [ngModelOptions]="{standalone: true}" maxlength="10" autocomplete="firstname" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">


              </div>
            </div>
            <div>
              <label for="lastname" class="block text-sm font-medium leading-6 text-gray-900">Last name :</label>
              <div class="mt-2">
                <input id="lastname" name="lastname" type="text" [(ngModel)]="lastname"
                  [ngModelOptions]="{standalone: true}" maxlength="15" autocomplete="lastname" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">

              </div>
            </div>
            <div>
              <label for="username" class="block text-sm font-medium leading-6 text-gray-900">Username :</label>
              <div class="mt-2">
                <input id="username" name="username" type="text" [(ngModel)]="username"
                  [ngModelOptions]="{standalone: true}" maxlength="10" autocomplete="username" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
              </div>
            </div>
            <div>
              <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password :</label>
              <div class="mt-2">
                <input id="password" name='password' type="password" [(ngModel)]="password"
                  [ngModelOptions]="{standalone: true}" maxlength="8" autocomplete="password" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
              </div>
            </div>
            <div>
              <label for="confirmpassword" class="block text-sm font-medium leading-6 text-gray-900">Confirm password
                :</label>
              <div class="mt-2">
                <input id="confirmpassword" name='confirmpassword' type="password" [(ngModel)]="confirmpassword"
                  [ngModelOptions]="{standalone: true}" maxlength="8" autocomplete="password" required
                  class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 pl-2">
              </div>
            </div>

            <div>
              <button type="submit" value="Submit"
                class=" w-full justify-center   rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                (click)="save()">Create an account</button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </section>





</body>

</html>
